<ul class="nav navbar-nav navbar-right">
    <li><a <%if(active=="Feed"){%>class="active"<%}%> href="/Index">Feed</a></li>
    <li><a <%if(active=="Post"){%>class="active"<%}%> href="/profile">Add a Post</a></li>
    <!-- <li><a <%if(active=="Work"){%>class="active"<%}%> href="/Work">Work</a></li> -->
</ul>