<%- include('partials/header') -%> <%- include('partials/footer') -%>
<div class="fillBox">
  <br /><br /><br /><br />
  <a href="/login" class="fill"> Login</a>
  <a href="/signup" class="fill"> Signup</a>
</div>
