* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: rgba(0, 0, 255, 0);
}

html {
  --u: 1.185vmin;
  --hue: hue-rotate(0deg);
  --c1: #b388eb;
  --c2: #f7aef8;
  --c3: #8093f1;
  --gp: 50% / calc(var(--u) * 12) calc(var(--u) * 17.05);
  height: 100vh;
  filter: var(--hue);
  background: conic-gradient(
        from 0deg at 13.68% 94.08%,
        #fff0 0 50%,
        var(--c2) 0% 83.33%,
        #fff0 0 100%
      )
      var(--gp),
    /* left red end */
      conic-gradient(
        from 0deg at 86.12% 94.08%,
        #fff0 0 16.66%,
        var(--c2) 0% 50%,
        #fff0 0 100%
      )
      var(--gp),
    /* right red end */
      conic-gradient(
        from 0deg at 28.42% 88.14%,
        #fff0 0 50%,
        var(--c1) 0% 83.33%,
        #fff0 0 100%
      )
      var(--gp),
    /* left black end */
      conic-gradient(
        from 0deg at 71.57% 88.14%,
        #fff0 0 16.66%,
        var(--c1) 0% 50%,
        #fff0 0 100%
      )
      var(--gp),
    /* right black end */
      conic-gradient(
        from 0deg at 7.36% 43.7%,
        #fff0 0 50%,
        var(--c1) 0% 75%,
        #fff0 0 100%
      )
      var(--gp),
    /* left black vert*/
      conic-gradient(
        from 0deg at 92.64% 43.7%,
        #fff0 0 25%,
        var(--c1) 0% 50%,
        #fff0 0 100%
      )
      var(--gp),
    /* right black vert */
      conic-gradient(
        from 0deg at 43.15% 82.22%,
        #fff0 0 50%,
        var(--c3) 0% 83.33%,
        #fff0 0 100%
      )
      var(--gp),
    /* left orange end */
      conic-gradient(
        from 0deg at 56.84% 82.22%,
        #fff0 0 16.66%,
        var(--c3) 0% 50%,
        #fff0 0 100%
      )
      var(--gp),
    /* right orange end */
      conic-gradient(
        from 0deg at 23.15% 50.37%,
        #fff0 0 50%,
        var(--c3) 0% 75%,
        #fff0 0 100%
      )
      var(--gp),
    /* left orange vert */
      conic-gradient(
        from 0deg at 76.85% 50.37%,
        #fff0 0 25%,
        var(--c3) 0% 50%,
        #fff0 0 100%
      )
      var(--gp),
    /* right orange vert */
      conic-gradient(
        from 0deg at 50% 73.33%,
        #fff0 0 16.66%,
        var(--c1) 0% 83.33%,
        #fff0 0 100%
      )
      var(--gp),
    /* middle black */
      conic-gradient(
        from 0deg at 36.84% 56.29%,
        #fff0 0 50%,
        var(--c1) 0% 75%,
        #fff0 0 100%
      )
      var(--gp),
    /* left black middle */
      conic-gradient(
        from 0deg at 63.15% 56.29%,
        #fff0 0 25%,
        var(--c1) 0% 50%,
        #fff0 0 100%
      )
      var(--gp),
    /* right black middle*/
      conic-gradient(
        from 0deg at 50% 51.11%,
        #fff0 0 33.33%,
        var(--c2) 0% 66.66%,
        #fff0 0 100%
      )
      var(--gp),
    /* middle red */
      conic-gradient(
        from 0deg at 50% 39.25%,
        #fff0 0 33.33%,
        var(--c1) 0% 66.66%,
        #fff0 0 100%
      )
      var(--gp),
    /* middle black */
      conic-gradient(
        from 0deg at 50% 26.66%,
        #fff0 0 33.33%,
        var(--c3) 0% 66.66%,
        #fff0 0 100%
      )
      var(--gp),
    /* middle orange */
      conic-gradient(
        from 0deg at 13.68% 5.92%,
        #fff0 0 66.66%,
        var(--c2) 0% 100%
      )
      var(--gp),
    /* left red top */
      conic-gradient(
        from 0deg at 86.12% 5.92%,
        var(--c2) 0 33.33%,
        #fff0 0% 100%
      )
      var(--gp),
    /* right red top */
      conic-gradient(
        from 0deg at 28.42% 11.85%,
        #fff0 0 66.66%,
        var(--c1) 0% 100%
      )
      var(--gp),
    /* left black top */
      conic-gradient(
        from 0deg at 71.58% 11.85%,
        var(--c1) 0 33.33%,
        #fff0 0% 100%
      )
      var(--gp),
    /* right black top */
      conic-gradient(
        from 0deg at 43.15% 17.77%,
        #fff0 0 66.66%,
        var(--c3) 0% 100%
      )
      var(--gp),
    /* left orange top */
      conic-gradient(
        from 0deg at 56.84% 17.77%,
        var(--c3) 0 33.33%,
        #fff0 0% 100%
      )
      var(--gp) /* right orange top*/;
  background-color: var(--c1);
}

/* PROFILE */

.col-6 {
  align-items: center;
  margin: auto;
  width: 100%;
  list-style: none;
  margin-top: 35px;
}

.mt-5 > h2 {
  margin: auto;
  margin-top: 15px;
  align-items: center;
}

.img-fluido {
  width: 550px;
}

/* POST */
.bg {
  align-self: center;
  width: 100%;
  position: absolute;
}

.postList {
  padding-bottom: 50px;
}

h2,
h3 {
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

.btn {
  font-size: 1rem;
}

.nav {
  background-color: black;
}

.mb-3 {
  font-size: 1rem;
}

/* POST ROUTE */

.postContainer {
  margin: auto;
  margin-top: 30px;
  background-color: rgba(137, 43, 226, 0.308);
  width: 40%;
  height: 600px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  height: 500px;
}

.postContainer::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom right, #ff9ec593, #ffd07e);
  width: 900px;
  height: 500px;
  /* border-radius: 50%; */
  z-index: -1;
}

.postContainer > img {
  width: 80%;
}

.postData {
  width: 90%;
}

.descriptionBox {
  height: 200px;
  width: 80%;
  font-size: 1.4rem;
}

.descriptionBox > p {
  font-size: 1.1rem;
  text-align: justify;
}

/* SIGN UP */

.postBg {
  margin: auto;
  width: 60%;
  --s: 76px; /* control the size */

  --c: #fdfd96;
  --_g: conic-gradient(var(--c) 25%, #0000 0) 0 0;
  background: var(--_g) / calc(2 * var(--s)) calc(var(--s) / 9.5),
    var(--_g) / calc(var(--s) / 9.5) calc(2 * var(--s)),
    repeating-conic-gradient(#0000 0 25%, var(--c) 0 50%) var(--s) 0 /
      calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, #fdfd96 98%, var(--c)) 0 0 / var(--s) var(--s);
}

.signUp {
  color: black;
  width: 100%;
  margin: auto;
  /* background: #250c49; */
  padding: 50px 100px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 15px 15px 1px #aff8d8, 15px 15px 1px 2px rgba(0, 0, 0, 1);
}

.inputs {
  margin: 5px;
  font-family: monospace;
  text-shadow: 2px black;
  display: block;
  width: 100%;
  border: none;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: rgb(2, 0, 27);
  color: #115d76;
}

.inputs:focus {
  border-bottom: 5px solid black;
}

button {
  display: block;
  margin: 10px auto;
  padding: 20px;
  /* background: black; */
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1);
}

button:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

::selection {
  background: #95a4ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control {
  width: 375px;
  font-size: 1.2rem;
  height: 2rem;
  font-family: "Space Grotesk", monospace;
}

.dataBox {
  margin: auto;
  width: 54%;
  top: 515px;
  right: 45px;
  background: #c4f4f8;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px #fdfd96, 15px 15px 1px 2px rgba(0, 0, 0, 1);
  color: rgb(2, 4, 71);
}

.dataBox > p {
  margin: 4px;
}

/* INDEX BUTTONS */

.fill {
  /* width: 100%; */
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 30px;
}

.fill::after {
  content: "";
  background-color: #f4f4ed;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.fillBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.gridBox {
  width: 100%;
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  list-style: none;
}

.posted {
  /* border: 4px solid blue; */
  background-color: #2a293e52;
  width: 550px;
  height: 550px;
  margin: 15px;
}

.addPost {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPost > .fill {
  font-family: "space mono";
  font-size: 1.45rem;
  align-items: center;
  width: 270px;
  font-weight: 700;
}

.posted > a {
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-post {
  width: 550px;
}

/* LIKE BUTTON */

.buttonLikes {
  /* padding: 10px 15px; */
  background: #0080ff;
  font-size: 14px;
  font-family: monospace;
  /* border-radius: 5px; */
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

#deleto {
  background: #a80f3d;
}

.buttonLikes:hover {
  background: rgb(47, 226, 196);
  color: rgb(66, 8, 175);
  border: none;
  font-weight: 700;
}

.buttonLikes i {
  color: black;
}

/* HEADER */

.container {
  animation: flicker 1.5s infinite alternate;
  text-align: center;
}
/* H1 */

.cyber-text {
  padding-bottom: 30px;
  margin: auto;
}

.background-img {
  height: 300px;
}

.titlu {
  margin: auto;
  width: 100%;
  height: 270px;
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border-top: 2px solid #2a3cad;
  border-bottom: 2px szolid #2a3cad;
  color: white;
  overflow: hidden;
}

h1 > a {
  margin: auto;
  text-decoration: none;
  font-family: "Fredoka One", cursive;
  margin-bottom: 150px;
}

h1 {
  margin: auto;
  width: 100%;
  font-size: 6.2rem;
  position: relative;
  text-shadow: 5px 5px #ffffff;
  filter: drop-shadow(-12px 20px 12px #ffffff);
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #e7d27c;
  text-shadow: 5.5px 5.5px #fb48c4, 20px 20px #000;
  overflow: hidden;
  display: inline-block;

  animation: flicker linear 7s reverse infinite;
  animation-timing-function: ease-in;
  /* animation-fill-mode: forwards; */

  padding-top: -110px;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

header > h2 {
  font-size: 2.4rem;
  margin: auto;
  font-family: "Rock Salt", cursive;
  font-weight: 700;
  letter-spacing: 0.3em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px black;
  margin-top: 35px;
}

/* ANIMATED BACKGROUND */

.space {
  overflow: hidden;
  background: rgba(128, 0, 128, 0) center / 200px 200px round;
  margin: auto;
}

.stars1,
.stars2,
.stars3 {
  width: 444px;
  height: 440px;
  overflow: hidden;
  margin: auto;
  float: left;
}

.stars1 {
  overflow: hidden;
  animation: space 75s ease-in-out infinite;
  background-image: radial-gradient(
      2px 2px at 25px 15px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}
.stars2 {
  overflow: hidden;
  overflow-x: hidden;
  animation: space 13s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
  overflow: hidden;
  overflow-x: hidden;
  animation: space 14s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

.cyber-text {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 1.5cap;
  display: block;
}

.stars1 + .stars1 {
  overflow: hidden;
  overflow-x: hidden;
  animation: space 60s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      rgb(207, 66, 66),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}

.stars1 + .stars1 + .stars1 {
  margin-left: 500px;
  overflow: hidden;
  overflow-x: hidden;
  animation: space 40s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}

/* BORDER */

.titlu {
  /* font-size: 6.2rem; */
  animation: pulsate 1.5s infinite alternate;
  border-top: 0.2rem solid #0892d0;
  border-bottom: 0.2rem solid #0892d0;
  /* border-radius: 2rem; */
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #0892d0, 0 0 0.2rem #0892d0, 0 0 2rem #1d149c,
    0 0 0.8rem #1d149c, 0 0 2.8rem #1d149c, inset 0 0 1.3rem #1d149c;
}

@keyframes pulsate {
  100% {
    box-shadow: 0 0 4px #0892d0, 0 0 11px #0892d0, 0 0 19px #0892d0,
      0 0 40px #1d149c, 0 0 80px #1d149c, 0 0 90px #1d149c, 0 0 100px #1d149c,
      0 0 150px #1d149c;
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #1d149c,
      0 0 45px #1d149c, 0 0 55px #1d149c, 0 0 70px #1d149c, 0 0 80px #1d149c;
  }
}

.container {
  padding-top: 30px;
}

/* POST CARD */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
.outer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f200;
}
#switch:checked ~ .outer {
  background: #55499400;
}
.content {
  display: flex;
  width: 60%;
  padding: 15px;
  background: #a8aedd;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
#switch:checked ~ .outer .content {
  background: #400e63;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#switch:checked ~ .outer .signUp {
  --c2: #88d4c3;
  --c1: #8769b6;
}

.outer .toggle {
  position: absolute;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #400e63;
  right: 15px;
  top: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#switch:checked ~ .outer .toggle {
  background: #88d4c3;
}
.outer .toggle .circle {
  margin-left: 3px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #a8aedd;
  transition: all 0.3s ease;
}
#switch:checked ~ .outer .circle {
  margin-left: 22px;
  background: #400e63;
}

.image-box {
  height: 550px;
  width: 100%;
  border-radius: 12px;
  padding: 3px;
  background: #8769b6;
}
#switch:checked ~ .image-box {
  background: #88d4c3;
}
.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #b6f486;
  border-radius: 12px;
  object-fit: contain;
}
#switch:checked ~ .outer .image-box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid #b6f486;
}
#switch:checked ~ .outer .image-box img {
  border-color: transparent;
}
.content .details {
  width: 100%;
  margin: 10px 0 20px 20px;
  color: #400e63;
}
.details > * {
  margin: 13px;
}
.details > .signUp {
  margin: 0;
  /* border: 12px solid #88d4c3; */
}
#switch:checked ~ .outer .details {
  transition: 0.1s;
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
    0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}
#switch:checked ~ .commentTextu {
  color: #0fa;
}
.content .details .name {
  font-size: 23px;
  font-weight: 600;
}
.content .details .job {
  font-size: 18px;
  font-weight: 500;
}
.content .details p {
  font-size: 15px;
  margin-top: 6px;
}
.content button {
  display: block;
  margin-top: 16px;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 6px 14px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background: #b388eb;
  transition: all 0.3s ease;
  border: 2px solid rgb(248, 248, 183);
}
.content button:hover {
  transform: scale(0.97);
}
#switch:checked ~ .outer button {
  background: #fff;
  color: #b388eb;
}
.media-icons {
  position: absolute;
  bottom: 16px;
  right: 15px;
  margin-top: 12px;
  justify-content: flex-end;
}
.media-icons i {
  display: inline-flex;
  margin: 0 4px;
  font-size: 16px;
  color: #b388eb;
  opacity: 0.7;
  cursor: pointer;
}
.media-icons i:hover {
  opacity: 1;
}
#switch:checked ~ .outer i {
  color: #fff;
  opacity: 1;
}
#switch {
  display: none;
}

/* FOOTER */

header,
footer {
  clear: both;
}

/* FULLPAGE POPUP*/

#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

/* BUTTER */

/* .butter {
  font-size: 4rem;
  text-shadow: 4px 4px 0px #3f7fbf00;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
} */

/* COMMENTS */

.box1 {
  background: #8093f1;
  list-style-type: none;
  width: 95%;
  margin: 5px auto;
  margin-top: 25px;
  border: 4px solid #16f0e5;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  color: #0ff5e9;
  font-family: arial;
  position: relative;
}

.sb6:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #16f0e5;
  border-right: 10px solid transparent;
  border-top: 10px solid #16f0e5;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.commentUser {
  /* float: right; */
  margin-bottom: 2px;
  text-shadow: 2px 2px black;
  color: #ffffffa9;
  font-family: "space mono";
}

.outer .signUp {
  color: whitesmoke;
  text-shadow: 2px 2px black;
  -s: 1px; /* control the size */
  --c2: #400e63;
  --c1: #8769b6;

  --_g: var(--c2) 3% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 66% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 56%;
  background: radial-gradient(
      53% 53% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      rgba(255, 255, 255, 0.253) 96%,
      #0000
    ),
    radial-gradient(
        53% 53% at 0 100%,
        #0000,
        rgba(0, 0, 0, 0) 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  /* background-size: var(--s) var(--s); */
  box-shadow: none;
  border: none;
}

.commentTextu {
  text-shadow: none;
  text-shadow: 2px 2px black;
}

.postTitles {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.4cap;
  font-size: 1.6rem;
  margin-top: 15px;
  color: #ffefda;
  text-shadow: 2px 2px black;
}

.signUp > .submitButton {
  border: 2px solid yellow;
}

/* #switch:checked ~ .sb6 {
  text-shadow: 2px 2px whitesmoke;
} */

/* #tv {
  position: relative;
  width: 350px;
  height: 250px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
#tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
} */
