* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: blue;
}

/* PROFILE */

/* .mt-5 {
  margin: auto;
  width: 50%;
  background-color: rgba(0, 0, 255, 0.253);
} */
.col-6 {
  align-items: center;
  width: 80%;
}

/* POST */
.bg {
  align-self: center;
  width: 100%;
  position: absolute;
}

.container {
  position: relative;
  background: rgba(131, 184, 166, 0);
}

/* .container li {
  height: 25%;
} */
