* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: blue;
}

/* PROFILE */

/* .mt-5 {
  margin: auto;
  width: 50%;
  background-color: rgba(0, 0, 255, 0.253);
} */
.col-6 {
  align-items: center;
  width: 100%;
  /* border: 2px solid red; */
}

/* POST */
.bg {
  align-self: center;
  width: 100%;
  position: absolute;
}

.container {
  position: relative;
  background: rgba(131, 184, 166, 0);
}

.img-fluid {
  width: 100%;
}

h2 {
  font-size: 2.4rem;
}

h2,
h3 {
  padding: 15px;
}

/* .container li {
  height: 25%;
} */

/* BUTTON */

/* HEADER */

h1 > a {
  text-decoration: none;
}
.container {
  animation: flicker 1.5s infinite alternate;
  text-align: center;
}

h1 {
  font-size: 4.2rem;
}

p {
  font-size: 1.2rem;
}

.btn {
  font-size: 1rem;
}

h2 {
  font-size: 1.8rem;
}
/* .container {
  margin-top: 3vh;
} */

.nav {
  background-color: black;
}

.mb-3 {
  font-size: 1rem;
}

/* #title,
#caption,
#imageUpload {
  width: 20%;
} */

/* SIGN UP */

.signUp {
  color: black;
  width: 60%;
  margin: auto;
  background: #510564;
  padding: 50px 100px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0, 0, 0, 1);
}

.inputs {
  font-family: monospace;
  text-shadow: 2px black;
  display: block;
  width: 100%;
  border: none;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: #2a293e;
}

.inputs:focus {
  border-bottom: 5px solid black;
}

button {
  display: block;
  margin: 10px auto;
  padding: 20px;
  /* background: black; */
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1);
}

button:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

::selection {
  background: #95a4ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* .signUp > label > p {
  color: black;
}
.signUp > .inputs {
  color: rgb(0, 0, 0);
}

.form-control {
  color: #000;
} */
h4 {
  color: black;
}
